<div id="aboutPage">
<div class="container">
  <h1>What is a Soundscape?</h1>
  <p>Soundscapes are the sounds or acoustics that surround us, sometimes
  called the acoustical environment.
  Soundscapes can be divided into three categories; geophony, biophony, and anthrophoy. </p>
  <ul>
    <li><h3>Geophony</h3><p>Geophony refers to sounds that come from
    non-living components of an ecosystem, such as wind, water, and weather
    events like thunder or lightning.</p></li>
    <li><h3>Biophony</h3><p>Biophony is sounds from
    living organisms in an ecosystem, most often wildlife.</p></li>
    <li><h3>Anthrophoy</h3><p>Sounds in this category are sounds that come from humans. Sometimes
      these sounds are intentional, such as talking, or singing. Most anthrophoy sounds, however, are unintentional
    noise, such as sounds from airplanes, or automobiles. Many of our electronics make sounds, though we are so
  accustom to it, we often don't notice. </p></li>
  </ul>
  <p>Anthrophoy sounds, primarily those that are unintended can drastically alter a natural soundscape.
  This can have a lasting impact on the health of the ecosystem as a whole. Wildlife competing with mechanical noises
can have a harder time finding food, or mates. Animals that depend on sound to help them navigate can become lost or confused.
</p>
<p>Healthy soundscapes also benifit humans as well. Many studies have shown that natural sounds can reduce stress, increase
productivity, and even speed recovery times of patients.</p>
</div>
<div class="container">
  <h1>Why Study Soundscapes?</h1>
  <p>Studying a soundscape can tell us a lot about the health of an ecosystem. A healthy soundscape will have a diversity of sounds,
    and negative impacts on an ecosystem will quickly be seen in the soundscapes. Soundscape data can provide insight into everything
    from population numbers of a species, to effects of climate change. Studying soundscapes can also help us mitigate the effects of
    unintended human noise on an ecosystem.</p>
</div>
</div>
{{#extend "scripts"}}
<script>
$('#home').addClass("active");

</script>
{{/extend}}
