<div id="containergrte" class="container">
  <h1 id="update">text</h1>
  <div class="row">

    {{#if_eq title 'grte'}}
        <h1>GRTE</h1>
    {{else}}
        <h1>YELL</h1>
    {{/if_eq}}

    <div id="map-1" class="col-sm-5 col-md-4"><div>{{> map this}}</div></div>
    {{> spectro }}
    {{> site }}
    </br>
  </div>
</div>
</br>
