<div class="">
<div id="container" class="container">
  <img class="coverImage img-responsive" src="images/avalancefalls-webCrop.jpg">
    <h1 class="title">Visualizing Soundscapes</h1>
  </br>
  <div class="introBox">
    <p>Shh... did you hear that? That bird singing, and that car, they are all
      part of a soundscape or the world you hear around you.</p>

    <p>Soundscapes in National Parks are unique places, where natural sounds
       still dominate over human-made sounds.</p>
    </div>
     </br>
     <div class="center"><a href="#pickmap"><span class="glyphicon glyphicon-menu-down more" aria-hidden="true"></span></a></div>
</div>
<div id="pickmap"class="container">
  <h2 class="coverH">Select a park to explore their soundscapes</h2>
<div id="maps" class="row">
  <div id="map-1" class="col-sm-5 col-md-6">
    <div class="mapHolder">
    <a href="/grte"><h3 class="coverH">Grand Teton</h3>
      <img class="coverMap" src="images/GrandTetonMap.png" alt="Grand Teton Map" height="294" width="360">
    </a>
    </div>
  </div>
  <div id="map-2" class="col-sm-5 col-md-6">
    <div class="mapHolder">
    <a href="/yell"><h3 class="coverH">Yellowstone</h3>
      <img class="coverMap" src="images/YellowstoneMap.png" alt="Yellowstone Map" height="294" width="360">
    </a>
    </div>
  </div>
  </br>
</div>
</div>
<div class="center2"><a href="#aboutPage"><span class="glyphicon glyphicon-menu-down more" aria-hidden="true"></span></a></div>

<div id="about"class="container">
<div id="" class="row">
  <div id="aboutPage">
  <div class="container">
    <h1>What is a Soundscape?</h1>
    <p>Soundscapes are the sounds or acoustics that surround us, sometimes
    called the acoustical environment.
    Soundscapes can be divided into three categories; geophony, biophony, and anthrophony. </p>
    <ul>
      <li><h3>Geophony</h3><p>Geophony refers to sounds that come from
      non-living components of an ecosystem, such as wind, water, and weather
      events like thunder or lightning.</p></li>
      <li><h3>Biophony</h3><p>Biophony is sounds from
      living organisms in an ecosystem, most often wildlife.</p></li>
      <li><h3>Anthrophony</h3><p>Sounds in this category are sounds that come from humans. Sometimes
        these sounds are intentional, such as talking, or singing. Most anthrophony sounds, however, are unintentional
      noise, such as sounds from airplanes or automobiles. Many of our electronics make sounds, though we are so
    accustom to them we often don't notice. </p></li>
    </ul>
    <p>Anthrophony sounds, primarily those that are unintended, can drastically alter a natural soundscape.
    This can have a lasting impact on the health of the ecosystem as a whole. Wildlife competing with mechanical noises
  can have a harder time finding food or mates. Animals that depend on sound to help them navigate can become lost or confused.
  </p>
  <p>Healthy soundscapes also benefit humans as well. Many studies have shown that natural sounds can reduce stress, increase
  productivity, and even speed recovery times of patients.</p>
  </div>
  <div class="container">
    <h1>Why Study Soundscapes?</h1>
    <p>Studying a soundscape can tell us a lot about the health of an ecosystem. A healthy soundscape will have a diversity of sounds,
      and negative impacts on an ecosystem will quickly be seen in the soundscapes. Soundscape data can provide insight into everything
      from population numbers of a species, to effects of climate change. Studying soundscapes can also help us mitigate the effects of
      unintended human noise on an ecosystem.</p>
  </div>
  </div>

</div>
</div><!-- end about-->
<div class="center3"><a href="#studiesPage"><span class="glyphicon glyphicon-menu-down more" aria-hidden="true"></span></a></div>
<div id="studies"class="container">
  <div id="studiesPage">
  <div class="container">
      <p>Both Grand Teton and Yellowstone conduct general soundscape studies that shed insight into the health of
      an ecosystem, and provide an archive of natural sounds. Additionally, both parks conduct soundscape research
      to look at specific impacts of human produced sound on the ecosystem. </p>
      <h2>Studying Soundscapes in Grand Tetons</h2>
      <p>Grand Teton National Park is the only National Park with a commercial airport inside of its boundaries.
      What impact does the noise from the airport have on the ecosystems in Grand Teton? Are there ways to negate
        effects of the airport noise? Such questions prompted a soundscape study in Grand Tetons looking at sound from the airport.
      Sound data was collected from a variety of locations in the park, including at the airport itself. Research looked at
    how far reaching was the noise from the airport and what effects it might have. The information was also used to suggest
  changes to the typical flight paths into the airport in order to negate the impacts.</p>
  <p><a data-target="#" class="pop"><img width="500px" src="images/GRTEJHAL_1.jpg"></a></p>
    </div>
    <div class="container">
      <h2>Studying Soundscapes in Yellowstone</h2>
      <p>Visiting Yellowstone in winter is very different than summer. In winter, the majority of the park
      is only accessible by skiing, snowshoeing, snowmobile or snowcoach. While most of the park is very quiet in winter, the areas with snowmobile usage see periods of very intense sounds. As winter is a very stressful time of
  year for the wildlife in Yellowstone, biologists wonder what impact the noise from snow vehicles might have on the animals.</p>
  <p>Studies looked at how far the noise from snowmobiles reached and the percentage of the day when noise from them could be heard.
  Results from the studies were used to adjust Yellowstone's winter use plan.</p>
  <p><a data-target="#" class="pop"><img id="imageYellMap" width="500px" src="images/Screen Shot 2016-04-04 at 3.42.24 PM.png"></a></p><p>Above: Spectrogram showing average
  sound levels during winter in Yellowstone. High sound levels are clearly visible along the set snow vehicle routes and
  are drastically different than areas where snow vehicle use is not allowed.</p>
    </div>
  </div>
  </div>
  <!-- Creates the bootstrap modal where the image will appear -->
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Image preview</h4>
        </div>
        <div class="modal-body">
          <img src="" class="imagepreview" style="width: 100%;" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div><!--end studies-->
</div>
{{#extend "scripts"}}
<script>
$('#home').addClass("active");

</script>
{{/extend}}
