<!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Number of choice {{age}}</p>
<p>animal {{pet}}</p>-->

<div id="container" class="container">
    <h1>Visualizing Soundscapes</h1>
  </br>
    <p>Shh... did you hear that? That bird singing, and that car, they are all
      part of a soundscape or the world you hear around you.</p>

    <p>Soundscapes in National Parks are unique places, where natural sounds
       still dominate over human-made sounds.</p>
     </br>
<h2>Select a park to explore their soundscapes</h2>
<div>
<div class="row">
  <div id="map-1" class="col-sm-5 col-md-6"><a href="/grte"><img src="images/GrandTeton.png" alt="Grand Teton Map" height="294" width="360"><h3>Grand Teton</h3></a></div>
  <div id="map-2" class="col-sm-5 col-md-6"><a href="#"><img src="images/Yellowstone.png" alt="Yellowstone Map" height="294" width="360"><h3>Yellowstone</h3></a></div>
  </br>
</div>
</div>
