<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/spectro.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" /><!-- css from bootstrap-->
    <link href="/stylesheets/bootstrap-tour.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/list.min.js"></script>



  </head>
  <body>
      {{> header }}
      {{{body}}}
  </body>
    <script src="/javascripts/bootstrap.min.js"></script><!-- bootstrap script-->
    <script src="/javascripts/bootstrap-tour.min.js"></script>
    <script src="/javascripts/d3.v3.js"></script>
    <script src="/javascripts/typehead.js"></script>
    <script src="/javascripts/actions.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>




    {{{block "scripts"}}}
  </body>
</html>
