<h1>Searching...</h1>
<div id="soundsList">
<button class="sort" data-sort="siteName">Sort by site</button>
<button class="sort" data-sort="unitCode">Sort by park</button>
<ul class="list">
    {{#each entries}}
            <li>
              <h2 class="siteName">{{Site_Name}}</h2>
              <p class="unitCode"> {{Unit_Code}}</p>
            </li>
    {{else}}
        <h1>Sorry, no results found.</h2>

    {{/each}}
</ul>
</div>
