<div class="row">
        <div id="search-results">
            Sort by:
            <button class="sort btn" data-sort="name">
                Name <i class="fa fa-fw"></i>
            </button>
            <button class="sort btn" data-sort="date">
               Departures <i class="fa fa-fw"></i>
            </button>
            <button class="sort btn" data-sort="difficulty">
               Difficulty <i class="fa fa-fw"></i>
            </button>

            Filter:
            <label for="easy">Easy</label>
            <input type="checkbox" name="easy" class="filter" data-value="Easy" />
            <label for="moderate">Moderate</label>
            <input type="checkbox" name="moderate" class="filter" data-value="Moderate" />
            <label for="challenging">Challenging</label>
            <input type="checkbox" name="challenging" class="filter" data-value="Challenging" />

            <div class="list">
                    <div class="package">
                        <span class="name">Northern Lights</span><br />
                        <span class="date"><strong>5 departures available</strong></span><br />
                        <span class="difficulty">Easy</span>
                    </div>
                    <div class="package">
                        <span class="name">Blue Lagoon swim</span><br />
                        <span class="date"><strong>15 departures available</strong></span><br />
                        <span class="difficulty">Moderate</span>
                    </div>
                     <div class="package">
                        <span class="name">Hiking up mountain</span><br />
                        <span class="date"><strong>8 departures available</strong></span><br />
                        <span class="difficulty">Challenging</span>
                    </div>
            </div>
        </div>
</div>


<div class="container">
    <h1>Special Studies in Grand Tetons</h1>
    <p>Text here..</p>
  </div>
  <div class="container">
    <h1>Special Studies in Yellowstone</h1>
    <p>Text here..</p>
  </div>
</div>
