<div id="studiesPage">
<div class="container">
    <p>Both Grand Teton and Yellowstone conduct general soundscape studies that shed insight into the health of
    an ecosystem, and provide an archive of natural sounds. Additionally, both parks conduct soundscape research
    to look at specific impacts of human produced sound on the ecosystem. </p>
    <h2>Studying Soundscapes in Grand Tetons</h2>
    <p>Grand Teton National Park is the only National Park with a commercial airport inside of its boundaries.
    What impact does the noise from the airport have on the ecosystems in Grand Teton? Are there ways to negate
      effects of the airport noise? Such questions prompted a soundscape study in Grand Tetons looking at sound from the airport.
    Sound data was collected from a variety of locations in the park, including at the airport itself. Research looked article
  how far reaching was the noise from the airport and what effects it might have. The information was also used to suggest
changes to the typical flight paths into the airport in order to negate the impacts.</p>
<p><img width="500px" src="images/GRTEJHAL_1.jpg"></p>
  </div>
  <div class="container">
    <h2>Studying Soundscapes in Yellowstone</h2>
    <p>Visiting Yellowstone in winter is very different than summer. In winter, the majority of the park
    is only accessible by skiing, snowshoeing, snowmobile or snowcoach. While most of the park is very quiet input
  in winter, the areas with nowmobile usage see peaks of very intense  sounds. As winter is a very stressful time of
year for the wildlife in Yellowstone, biologist wonder what impact the noise from snow vehicles might have on the animals.</p>
<p>Studies looked at how far the noise from snowmobiles reached and the percentage of the day when noise from them could be heard.
Results from the studies were used to adjust Yellowstone's winter use plan.</p>
<p><img width="500px" src="images/Screen Shot 2016-04-04 at 3.42.24 PM.png"></p><p>Above: Spectrogram showing average
sound levels during winter in Yellowstone. High sound levels are clearly visible along the set snow vehicle routes and
are drastically different that areas where snowvehicle use is not allowed.</p>
  </div>
</div>
</div>

{{#extend "scripts"}}
<script>
$('#home').addClass("active");

</script>
{{/extend}}
