<div class="parkBack2">
  <img class="coverImage img-responsive" src="images/yell-sat-largeWeb.jpg">
  <div id="containeryell" class="container">
    <div class="row">
      <div id="map-2" class="col-sm-5 col-md-4">
      {{#if_eq title 'grte'}}
          <h1 class="parkTitle">Grand Teton</h1>
      {{else}}
          <h1 class="parkTitle2">Yellowstone</h1>
      {{/if_eq}}

      <div class="mapholder">
          {{> map this}}</div></div>
      {{> spectro }}
      {{> site }}
      </br>
    </div>
  </div>
  </br>
</div>
