<div id="containeryell" class="container">
  <div class="row">
    <div id="map-2" class="col-sm-5 col-md-4">
    {{#if_eq title 'grte'}}
        <h1>GRTE</h1>
    {{else}}
        <h1>YELL</h1>
    {{/if_eq}}

  <div>{{> map this}}</div></div>
    {{> spectro }}
    {{> site }}
    </br>
  </div>
</div>
</br>
