canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}
.spectrogram {
  position: absolute;
}
.axis {
  font: 14px sans-serif;
}
.axis path,
.axis line {
  fill: none;
}
.axis line {
  shape-rendering: crispEdges;
  stroke: #444;
  stroke-width: 1.0px;
  stroke-dasharray: 2,4;
}

#holder {
  min-height: 200px;

}

audio{
width: 500px;

}

#volume{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

#bar {
   border:1px solid #aaa;
   color:#fff;
   width:295px;
   height:20px;
   position:relative;
}

#progress {
   background-color:#ff0000; // red
   position:relative;
   height:100%;
   width:0px;
   display:inline-block;
}

#timeline{
	/*width: 500px;*/
  width: 90%;
	height: 16px;
	background: rgba(0,0,0,.4);
	margin-top: 20px;
	float: right;
	border-radius: 15px;
}

#playhead{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	/*margin-top: 1px;*/
	background: rgba(0, 0, 0,1);
  background-color: #C3C3B9;
}

#audioplayer{
  width: 600px;
  height: 60px;
  padding: .2em;
  float:left;
  display: none;

}


svg{
      position: relative;
      z-index: 1;
}

#vis{
      overflow: scroll;
      width:800px;
      position: inherit;
      top: 0;
      left: 0;


}

img#imageGrey{
    position: relative;
    top: 0;
    left: 0;
}

img#imageColor{
    position: absolute;
    top: 0px;
    left: 0px;
}

div#progressWrapper {
    overflow: hidden;
    width: 0px;
    height: 260px;
    position: absolute;
    top: 0px;
    left: 0px;

}
