body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapGrte { height: 20em; }

#mapYell { height: 20em; }
#map{height: 30em;}

//Spectrogram
.question{
  float: right;
  margin: 2em;
}

button#playpause {
    display: inline-block;
    margin: 0;
    border: none;
}

#playbutton{
  font-size: 1.6em;

}

#spectroHolder{
  margin-bottom: 5em;
}

ul
{
    list-style-type: none;
}

#volume{
  position: absolute;
  top: 19em;
  display: none;
  right: 10em;
}

#setVolume{
  display: inline-block;
  margin: 0;
  border: none;

}

#volumebutton{
  font-size: 1.4em;
  margin-top: 6px;


}
