body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapGrte { height: 30em; }

#mapYell { height: 30em; }
#map{height: 30em;}

//Spectrogram
.question{
  float: right;
  margin: 2em;
}

button#playpause {
    display: inline-block;
    margin: 0;
    border: none;
}

#playbutton{
  font-size: 1.6em;

}

#spectroHolder{
  margin-bottom: 3em;
  margin-top: 5em;

}

ul
{
    list-style-type: none;
}

#volume{
  position: absolute;
  top: 19em;
  display: none;
  right: 10em;
}

#setVolume{
  display: inline-block;
  margin: 0;
  border: none;

}

#volumebutton{
  font-size: 1.4em;
  margin-top: 6px;


}

#infoButton{
  display: inline;
}

.soundButton{
    display: none;
}

div#carousel-example-generic {
    display: none;
}

.listScroll{
  width: 55%;
  position: inherit;
  overflow: scroll;
  margin-bottom: 1em;

}

.header{
  margin-left: .5em;

}

.site-descript {
    font-size: medium;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 1.3em;
}

/*CSS for Magnifier
/*Some CSS*/
.magnify {margin: 50px auto;     margin: 0;
    padding: 0; position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;
  z-index: 9999;

	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 2px rgb(228, 220, 220),
	0 0 7px 7px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*Lets load up the large image first*/
	background: url('../images/MOPO_Elk-Color.png') no-repeat;

	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

/*Typeahead example */
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
