body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapGrte { height: 30em; }

#mapYell { height: 30em; }
#map{height: 30em;}

//Spectrogram
.question{
  float: right;
  margin: 2em;
}

button#playpause {
    display: inline-block;
    margin: 0;
    border: none;
}

#playbutton{
  font-size: 1.6em;

}

#spectroHolder{
  margin-bottom: 3em;
  margin-top: 5em;

}

ul
{
    list-style-type: none;
}

#volume{
  position: absolute;
  top: 19em;
  display: none;
  right: 10em;
}

#setVolume{
  display: inline-block;
  margin: 0;
  border: none;

}

#volumebutton{
  font-size: 1.4em;
  margin-top: 6px;


}

#infoButton{
  display: inline;
}

.soundButton{
    display: none;
}

div#carousel-example-generic {
    display: none;
}

.listScroll{
  width: 55%;
  position: inherit;
  overflow: scroll;
  margin-bottom: 1em;

}

.header{
  margin-left: .5em;

}

.site-descript {
    font-size: medium;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 1.3em;
}

/*Some CSS*/
.magnify {margin: 50px auto;     margin: 0;
    padding: 0; position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;

	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
	0 0 7px 7px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*Lets load up the large image first*/
	background: url('../images/MOPO_Elk-Color.png') no-repeat;

	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }
