<!--<div id="map-1" class="col-sm-5 col-md-4"><div id="grteMap"></div></div>-->
{{#if_eq title 'grte'}}
    <div id="mapGrte"></div>
{{else}}
      <div id="mapYell"></div>
{{/if_eq}}

{{#if_eq title 'grte'}}
    <!--Calls helper function to add custom script to one page only -->
    {{#extend "scripts"}}
    <script src="/javascripts/grtemap.js"></script>
    {{/extend}}
{{else}}
      <!--Calls helper function to add custom script to one page only -->
      {{#extend "scripts"}}
      <script src="/javascripts/yellmap.js"></script>
      {{/extend}}
{{/if_eq}}
