<h1>Map</h1>
<div id="mapGrte"></div>
<!--<div id="map-1" class="col-sm-5 col-md-4"><div id="grteMap"></div></div>-->
<!--Calls helper function to add custom script to one page only -->
{{#extend "scripts"}}
<script src="/javascripts/map.js"></script>
{{/extend}}
