<!--<div>
    {{#if headline}}
    <h1>{{headline}}</h1>
      {{else}}
    <p>Lorem Ipsum</p>
    {{/if}}
</div>
-->
<h1>Map</h1>
<div id="mapGrte"></div>
<!--<div id="map-1" class="col-sm-5 col-md-4"><div id="grteMap"></div></div>-->
