<div id="spectroHolder" class="col-sm-5 col-md-8"><h3>Spectrogram</h3>
 <div id="vis" class="spectrogram" width="800" height="300">
   <img id="imageGrey" src="images/spectroGrey.png" height="260" />
   <div id="progressWrapper"><img  id="imageColor" src="images/spectro.png" height="260" /></div>
   <svg height="260" width="800" id="svg"></svg>
 </div>
  <div height="260" width="425">
    <p><a tabindex="0" class="btn btn-info btn-sm question" role="button" data-placement="bottom"
    data-toggle="popover" data-trigger="focus" title="What is a Spectrogram?"
    data-content="Spectrograms are visual representations of sounds. Color on a
    spectrogram reflects the volume while the vertical position shows the frequency or pitch.">What is a Spectrogram?
    <span class="glyphicon glyphicon-question-sign"></span></a></p></div>
  <div id="audioplayer">
    <button id="playpause" title="play" class="btn btn-default btn-lg"onclick="togglePlayPause()">
      <span id="playbutton"class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <div id="timeline">
        <div id="playhead"></div>
    </div>
  </div>
  <div style="clear: both;"></div>
    <div id="player"></div>
</div>

{{#extend "scripts"}}
<script src="/javascripts/audio.js"></script>
<script>var sample = new Spectrogram('/sounds/LowerBerry_5min.mp3', "#vis");</script>
{{/extend}}
