<div id="containergrte" class="container">
  <div class="row">
    <div id="map-1" class="col-sm-5 col-md-4"><div id="grteMap"></div></div>
    <div id="map-2" class="col-sm-5 col-md-8">Spectrogram
      <div id="vis" class="spectrogram" width="600" height="300"></div>
      <div><svg id="svg" height="260" width="425"></svg></div>
      <div id="audioplayer">
        <button id="playpause" title="play" onclick="togglePlayPause()">Play</button>
        <div id="timeline">
            <div id="playhead"></div>
        </div>
      </div>
        <div id="player"></div>
    <a tabindex="0" class="btn btn-info btn-sm" role="button" data-placement="bottom"
    data-toggle="popover" data-trigger="focus" title="What is a Spectrogram?"
    data-content="Spectrograms are visual representations of sounds. Color on a
    spectrogram reflects the volume while the vertical position shows the frequency or pitch.">What is a Spectrogram?
    <span class="glyphicon glyphicon-question-sign"></span></a>
</div>
    </br>
  </div>
</div>
</br>
